<div class="container">
     {{>errors errors=errors}}
    <div class="bg-light p-5">
        <form action="/system/{{system._id}}" method="post" class="needs-validation" novalidate>
        <input type="hidden" name="_method" value="PUT" id="">
            <div class="mb-3">
                <label for="Product" class="form-label">Measurement system Unit</label>
                <input type="text" class="form-control" name="system_name" id="name" value="{{system.system_name}}" required>
                <div class="invalid-feedback">
                    Please enter a unit name
                </div>
            </div>
            <div class="mb-3 text-right">
                <div class="mb-3 text-right">
                    <div class="row">
                        <div class="col-6 d-flex justify-content-end">
                            <a href="/" class="btn btn-secondary">Close</a>
                        </div>
                        <div class="col-6">
                            <button type="submit" class="btn btn-primary">Update</button>
                        </div>
                    </div>
                </div>
        </form>
    </div>
</div>